Flask
Flask-RESTful
flask_cors
python-dotenv
huggingface-hub
llama-index==0.10.26
llama-index-llms-huggingface==0.1.4
llama-index-embeddings-huggingface
llama-index-vector-stores-weaviate
llama-index-vector-stores-elasticsearch
llama-index-vector-stores-pinecone
pinecone-client
sentence-transformers
pandas
deep_translator
detectlanguage
nest-asyncio
pyngrok