<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test  API</title>
</head>
<body>
<h1><i> Welcome to the home page!</i></h1>
    <form method="POST" action ="#">
        Enter a file_path :
        <input type="text" name="file_path" id="file"></input>
        Choose vector DB type:
        <select name="DB" id="db_name" style="display: block;">
          <option value="Images">Images</option>
          <option value="Audio">Audio</option>
          <option value="Videos">Videos</option>
          <option value="Document">Document</option>
        </select>
        <input type="submit" name="btnnum" id="btnnum"></input>
  </form>
</body>
</html>